apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-db
  namespace: {{ nextcloud_namespace }}
spec:
  instances: {{ nextcloud_postgresql_replicas }}
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
    storageClass: {{ nextcloud_postgresql_storage_class }}
  bootstrap:
    initdb:
      database: {{ nextcloud_postgresql_database }}
      owner: {{ nextcloud_postgresql_username }}
      secret:
        name: nextcloud-db-credentials