apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-db-credentials
  namespace: {{ nextcloud_namespace }}
type: Opaque
stringData:
  username: {{ nextcloud_postgresql_username }}
  password: {{ vault_nextcloud_db_password }}