apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-db
  namespace: {{ nextcloud_namespace }}
spec:
  instances: {{ nextcloud_postgresql_replicas }}
  primaryUpdateStrategy: unsupervised
  storage:
    size: {{ nextcloud_postgresql_size }}
    storageClass: {{ nextcloud_postgresql_storage_class }}
  bootstrap:
    initdb:
{% if nextcloud_migrate_database | bool %}
      import:
        type: microservice
        databases:
          - {{ nextcloud_postgresql_database }}
        source:
          externalCluster: nextcloud-db-source
{% endif %}
      database: {{ nextcloud_postgresql_database }}
      owner: {{ nextcloud_postgresql_username }}
      secret:
        name: nextcloud-db-credentials
{% if nextcloud_postgresql_override_resources %}
  resources:
    requests:
      memory: {{ nextcloud_postgresql_resources_requests_memory }}
      cpu: {{ nextcloud_postgresql_resources_requests_cpu }}
    limits:
      memory: {{ nextcloud_postgresql_resources_limits_memory }}
      cpu: {{ nextcloud_postgresql_resources_limits_cpu }}
{% endif %}

{% if nextcloud_migrate_database | bool %}
  externalClusters:
    - name: nextcloud-db-source
      connectionParameters:
        # Use the correct IP or host name for the source database
        host: {{ nextcloud_migrate_source_db_name }}-r.{{ nextcloud_migrate_source_namespace }}.svc
        user: {{ nextcloud_migrate_postgresql_username }}
        dbname: {{ nextcloud_migrate_postgresql_database }}
      password:
        name: nextcloud-db-credentials
        key: password
{% endif %}
