---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ nextcloud_postgresql_backup_credentials_secret_name }}"
  namespace: "{{ nextcloud_namespace }}"
type: Opaque
data:
  ACCESS_KEY_ID: "{{ nextcloud_postgresql_backup_s3_access_key | b64encode }}"
  ACCESS_SECRET_KEY: "{{ nextcloud_postgresql_backup_s3_secret_key | b64encode }}"
