---
gitea_enabled: true
gitea_image_tag: "1.23.4"

gitea_persistence_enabled: true
gitea_persistence_claim_name: "nfs-gitea" # takes precedence over storage class

gitea_admin_username: "admin"
gitea_admin_email: "admin@example.com"
# gitea_admin_password: "changeme"  # prefer using ansible vault

gitea_postgresql_source: cloudnativepg
gitea_postgresql_create_cluster: true
gitea_migrate_database: false
# # Alternative with internal postgresql
# gitea_postgresql_source: internal
# gitea_postgresql_create_cluster: false
# gitea_postgresql_storage_class: "longhorn"

gitea_redis_enabled: true

# S3 Backup Credentials
gitea_postgresql_backup_enabled: false
gitea_postgresql_backup_s3_endpoint: "http://10.0.0.7:8010"
gitea_postgresql_backup_s3_bucket: "gitea-backups"
gitea_postgresql_backup_s3_access_key: "{{ vault_cnpg_backup_s3_access_key }}"
gitea_postgresql_backup_s3_secret_key: "{{ vault_cnpg_backup_s3_secret_key }}"