image:
  repository: {{ sonarr_image_repository }}
  tag: {{ sonarr_image_tag }}
  pullPolicy: {{ sonarr_image_pull_policy }}

resources:
  limits:
    memory: {{ sonarr_resources_limits_memory }}
    cpu: {{ sonarr_resources_limits_cpu }}
  requests:
    memory: {{ sonarr_resources_requests_memory }}
    cpu: {{ sonarr_resources_requests_cpu }}

persistence:
  enabled: {{ sonarr_persistence_enabled | lower }}
{% if sonarr_persistence_enabled %}
{% if sonarr_existing_claim is defined %}
  existingClaim: {{ sonarr_existing_claim }}
{% else %}
  storageClass: {{ sonarr_storage_class }}
  size: {{ sonarr_storage_size }}
{% endif %}
  accessMode: {{ sonarr_access_mode }}
{% endif %}
{% if sonarr_additional_volumes %}
  # -- if you need any additional volumes, you can define them here
  additionalVolumes:
{% for volume in sonarr_additional_volumes %}
    - name: {{ volume.name }}
      persistentVolumeClaim:
        claimName: {{ volume.claim_name }}
{% endfor %}
  # -- if you need any additional volume mounts, you can define them here
  additionalMounts:
{% for volume in sonarr_additional_volumes %}
    - name: {{ volume.name }}
      mountPath: {{ volume.mount_path }}
{% endfor %}
{% endif %}

service:
  type: {{ sonarr_service_type }}
  port: {{ sonarr_service_port }}

ingress:
  enabled: {{ sonarr_ingress_enabled | lower }}
  annotations:
    kubernetes.io/ingress.class: {{ global_nginx_class }}
{% if sonarr_ingress_tls_enabled %}
    cert-manager.io/cluster-issuer: {{ global_cluster_issuer }}
{% endif %}
  hosts:
    - host: {{ sonarr_host }}
      paths:
        - path: /
          pathType: Prefix
{% if sonarr_ingress_tls_enabled %}
  tls:
    - secretName: sonarr-tls
      hosts:
        - {{ sonarr_host }}
{% endif %}

{% if sonarr_anti_affinity_enabled %}
# Add affinity rules for sonarr to avoid other pods
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: {{ sonarr_anti_affinity_weight | int }}
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - {{ sonarr_anti_affinity_target_name }}
        namespaces: 
          - {{ sonarr_anti_affinity_target_namespace }}
        topologyKey: kubernetes.io/hostname
{% endif %}
