# roles/plex/templates/values.yaml.j2
image:
  registry: index.docker.io
  repository: plexinc/pms-docker
  tag: "{{ plex_image_tag }}"
  pullPolicy: IfNotPresent

ingress:
  enabled: {{ plex_ingress_enabled | bool | lower }}
{% if plex_ingress_enabled %}
  ingressClassName: {{ plex_ingress_class_name }}
  url: "https://{{ plex_ingress_subdomain }}.{{ ingress_nginx_domain_name }}"
  annotations:
    cert-manager.io/cluster-issuer: "{{ plex_ingress_cluster_issuer }}"
    nginx.ingress.kubernetes.io/backend-protocol: "{{ plex_ingress_backend_protocol }}"
{% if plex_ingress_annotations %}
{{ plex_ingress_annotations | to_nice_yaml(indent=2) | indent(4, first=true) }}
{% endif %}
{% endif %}

pms:
  storageClassName: {{ plex_storage_class }}
  configStorage: {{ plex_config_size }}
  gpu:
    nvidia:
      enabled: {{ plex_nvidia_gpu_enabled | bool | lower }}
  resources:
    requests:
      cpu: "{{ plex_resources_requests_cpu }}"
      memory: "{{ plex_resources_requests_memory }}"
{% if plex_intel_hw_accel %}
      gpu.intel.com/i915: "1"
{% endif %}
    limits:
      cpu: "{{ plex_resources_limits_cpu }}"
      memory: "{{ plex_resources_limits_memory }}"
{% if plex_intel_hw_accel %}
      gpu.intel.com/i915: "1"
{% endif %}

service:
  type: {{ plex_service_type }}
  port: {{ plex_service_port | int }}

{% if plex_media_volumes %}
extraVolumeMounts:
{% for volume in plex_media_volumes %}
  - name: {{ volume.name }}
    mountPath: {{ volume.mount_path }}
{% endfor %}

extraVolumes:
{% for volume in plex_media_volumes %}
  - name: {{ volume.name }}
    persistentVolumeClaim:
      claimName: {{ volume.claim_name }}
{% endfor %}
{% endif %}

extraEnv:
{% if plex_claim_token %}
  PLEX_CLAIM: "{{ plex_claim_token }}"
{% endif %}
  TZ: "{{ plex_timezone }}"
{% if plex_extra_env | length > 0 %}
{{ plex_extra_env | to_nice_yaml | indent(2) }}
{% endif %}

{% if plex_affinity or plex_intel_hw_accel %}
affinity:
{% if plex_affinity %}
{{ plex_affinity | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}
{% if plex_intel_hw_accel %}
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: "{{ plex_intel_hw_affinity }}"
            operator: In
            values:
              - "1"
{% endif %}
{% endif %}