apiVersion: v1
kind: Secret
metadata:
  name: paperless-db-credentials
  namespace: {{ paperless_namespace }}
type: Opaque
stringData:
  username: {{ paperless_database_user }}
  password: {{ vault_paperless_db_password }}