apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: paperless-db
  namespace: {{ paperless_namespace }}
spec:
  instances: {{ paperless_postgresql_replicas }}
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
    storageClass: {{ paperless_postgresql_storage_class }}
  bootstrap:
    initdb:
{% if paperless_migrate_database | bool %}
      import:
        type: microservice
        databases:
          - {{ paperless_postgresql_name }}
        source:
          externalCluster: paperless-db-source
{% endif %}
      database: {{ paperless_postgresql_name }}
      owner: {{ paperless_postgresql_user }}
      secret:
        name: paperless-db-credentials
{% if paperless_postgresql_override_resources %}
  resources:
    requests:
      memory: {{ paperless_postgresql_resources_requests_memory }}
      cpu: {{ paperless_postgresql_resources_requests_cpu }}
    limits:
      memory: {{ paperless_postgresql_resources_limits_memory }}
      cpu: {{ paperless_postgresql_resources_limits_cpu }}
{% endif %}

{% if paperless_migrate_database | bool %}
  externalClusters:
    - name: paperless-db-source
      connectionParameters:
        host: {{ paperless_migrate_source_db_name }}-r.{{ paperless_migrate_source_namespace }}.svc
        user: {{ paperless_migrate_postgresql_user }}
        dbname: {{ paperless_migrate_postgresql_name }}
      password:
        name: paperless-db-credentials
        key: password
{% endif %}
