---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: paperless-consume-nfs-pv
  labels:
    type: nfs
    app: paperless
spec:
  capacity:
    storage: {{ paperless_nfs_consume_storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ paperless_nfs_server }}
    path: {{ paperless_nfs_base_path }}/{{ paperless_nfs_consume_path }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-consume-pvc
  namespace: {{ paperless_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ paperless_nfs_consume_storage_size }}
  volumeName: paperless-consume-nfs-pv
  storageClassName: ""
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: paperless-export-nfs-pv
  labels:
    type: nfs
    app: paperless
spec:
  capacity:
    storage: {{ paperless_nfs_export_storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ paperless_nfs_server }}
    path: {{ paperless_nfs_base_path }}/{{ paperless_nfs_export_path }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-export-pvc
  namespace: {{ paperless_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ paperless_nfs_export_storage_size }}
  volumeName: paperless-export-nfs-pv
  storageClassName: ""
