apiVersion: v1
kind: Secret
metadata:
  name: gitea-db-credentials
  namespace: {{ gitea_namespace }}
type: Opaque
stringData:
  username: {{ gitea_postgresql_username }}
  password: {{ gitea_postgresql_password }}