# gitea-db-cluster.yaml.j2
{% if gitea_postgresql_source == 'cloudnativepg' %}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: gitea-db
  namespace: {{ gitea_namespace }}
spec:
  instances: {{ gitea_postgresql_instances }}
  
  postgresql:
    parameters:
      shared_buffers: "256MB"
      max_connections: "100"
    
  primaryUpdateStrategy: unsupervised
  
  storage:
    size: {{ gitea_postgresql_storage_size }}
    storageClass: {{ gitea_postgresql_storage_class }}
  
  bootstrap:
    initdb:
{% if gitea_migrate_database | bool %}
      import:
        type: microservice
        databases:
          - {{ gitea_postgresql_database }}
        source:
          externalCluster: gitea-db
{% endif %}
      database: {{ gitea_postgresql_database }}
      owner: {{ gitea_postgresql_username }}
      secret:
        name: gitea-db-credentials

{% if gitea_migrate_database | bool %}
  externalClusters:
    - name: gitea-db
      connectionParameters:
        # Use the correct IP or host name for the source database
        host: {{ gitea_migrate_source_db_name }}-r.{{ gitea_migrate_source_namespace }}.svc
        user: {{ gitea_migrate_postgresql_username }}
        dbname: {{ gitea_migrate_postgresql_database }}
      password:
        name: gitea-db-credentials
        key: password
{% endif %}

{% if gitea_postgresql_backup_enabled %}
  backup:
    barmanObjectStore:
      destinationPath: "{{ gitea_postgresql_backup_destination_path }}"
      endpointURL: "{{ gitea_postgresql_backup_s3_endpoint }}"
      s3Credentials:
        accessKeyId:
          name: {{ gitea_postgresql_backup_credentials_secret_name }}
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: {{ gitea_postgresql_backup_credentials_secret_name }}
          key: ACCESS_SECRET_KEY
      wal:
        compression: bzip2
      data:
        compression: bzip2
    retentionPolicy: "30d"
{% endif %}
{% if gitea_postgresql_override_resources %}
  resources:
    requests:
      memory: {{ gitea_postgresql_resources_requests_memory }}
      cpu: {{ gitea_postgresql_resources_requests_cpu }}
    limits:
      memory: {{ gitea_postgresql_resources_limits_memory }}
      cpu: {{ gitea_postgresql_resources_limits_cpu }}
{% endif %}
{% endif %}
