apiVersion: v1
kind: Secret
metadata:
  name: {{ gitea_admin_secret_name }}
  namespace: {{ gitea_namespace }}
  labels:
    app: gitea
{% if gitea_common_labels is defined %}
    {{ gitea_common_labels | to_nice_yaml(indent=4) | indent(4) }}
{% endif %}
type: Opaque
stringData:
  username: {{ gitea_admin_username }}
  password: {{ gitea_admin_password }}
  email: {{ gitea_admin_email }}
