apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "nfs-{{ item.name }}"
  namespace: "{{ item.namespace | default('default') }}"
  annotations:
    description: "{{ item.description }}"
spec:
  accessModes:
    - "{{ item.access_mode | default(nfs_pvc_access_mode) }}"
  storageClassName: "nfs-static"
  resources:
    requests:
      storage: "{{ item.size }}"
  selector:
    matchLabels:
      content: {{ item.name }}
