[Service]
Environment="HTTP_PROXY={{ proxy_env.HTTP_PROXY | default('') }}"
Environment="HTTPS_PROXY={{ proxy_env.HTTPS_PROXY | default('') }}"
Environment="NO_PROXY={{ proxy_env.NO_PROXY | default('') }}"
