image:
  repository: {{ prowlarr_image_repository }}
  tag: {{ prowlarr_image_tag }}
  pullPolicy: {{ prowlarr_image_pull_policy }}

resources:
  limits:
    memory: {{ prowlarr_resources_limits_memory }}
    cpu: {{ prowlarr_resources_limits_cpu }}
  requests:
    memory: {{ prowlarr_resources_requests_memory }}
    cpu: {{ prowlarr_resources_requests_cpu }}

persistence:
  enabled: {{ prowlarr_persistence_enabled | lower }}
{% if prowlarr_persistence_enabled %}
{% if prowlarr_existing_claim is defined %}
  existingClaim: {{ prowlarr_existing_claim }}
{% else %}
  storageClass: {{ prowlarr_storage_class }}
  size: {{ prowlarr_storage_size }}
{% endif %}
  accessMode: {{ prowlarr_access_mode }}
{% endif %}

service:
  type: {{ prowlarr_service_type }}
  port: {{ prowlarr_service_port }}

ingress:
  enabled: {{ prowlarr_ingress_enabled | lower }}
  annotations:
    kubernetes.io/ingress.class: {{ global_nginx_class }}
{% if prowlarr_ingress_tls_enabled %}
    cert-manager.io/cluster-issuer: {{ global_cluster_issuer }}
{% endif %}
  hosts:
    - host: {{ prowlarr_host }}
      paths:
        - path: /
          pathType: Prefix
{% if prowlarr_ingress_tls_enabled %}
  tls:
    - secretName: prowlarr-tls
      hosts:
        - {{ prowlarr_host }}
{% endif %}

{% if prowlarr_anti_affinity_enabled %}
# Add affinity rules for prowlarr to avoid other pods
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: {{ prowlarr_anti_affinity_weight | int }}
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - {{ prowlarr_anti_affinity_target_name }}
        namespaces: 
          - {{ prowlarr_anti_affinity_target_namespace }}
        topologyKey: kubernetes.io/hostname
{% endif %}
