---
# Base
radarr_enabled: true
radarr_chart_version: "1.12.0"
# https://github.com/hotio/sonarr/pkgs/container/radarr/versions
radarr_image_tag: "release-5.19.3.9730"

# Storage
radarr_persistence_enabled: true
# Option 1: Use dynamic provisioning with storage class
radarr_storage_class: "longhorn" # override defaults
radarr_storage_size: "10Gi" # override defaults

# Option 2: Use existing claim for main storage
# radarr_existing_claim: "radarr-config"

# Ingress
# If you don't want to use the defaults created by cert-manager and ingress-nginx
# radarr_ingress_class_name: "myclass"
# radarr_cluster_issuer: "myissuer"

# Additional volumes for media
radarr_additional_volumes:
  # Example using existing PVC
  - name: media
    claim_name: nfs-movies
    mount_path: /media
  
  # Example creating required NFS PVC
  - name: media
    claim_name: nfs-movies
    mount_path: /media
    nfs:
      enabled: true
      server: "10.0.0.2"
      path: "/mnt/user/movies"
      size: "4Ti"
      access_mode: "ReadWriteMany"
      reclaim_policy: "Retain"
