---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ bluesky_pds_secret_name }}"
  namespace: "{{ bluesky_pds_namespace }}"
type: Opaque
stringData:
  jwtSecret: "{{ bluesky_pds_jwt_secret }}"
  plcRotationKey: "{{ bluesky_pds_plc_rotation_key_secret }}"
  adminPassword: "{{ bluesky_pds_admin_password }}"
{% if bluesky_pds_smtp_enabled | default(false) and bluesky_pds_smtp_host is defined and bluesky_pds_smtp_user is defined and bluesky_pds_smtp_password is defined %}
  emailSmtpUrl: "smtp{% if bluesky_pds_smtp_secure | default(true) %}s{% endif %}://{{ bluesky_pds_smtp_user }}:{{ bluesky_pds_smtp_password }}@{{ bluesky_pds_smtp_host }}:{{ bluesky_pds_smtp_port }}"
{% endif %}
