---
apiVersion: v1
kind: Secret
metadata:
  name: {{ bluesky_pds_secret_name }}
  namespace: {{ bluesky_pds_namespace }}
type: Opaque
stringData:
  jwtSecret: {{ bluesky_pds_jwt_secret | default('') }}
  plcRotationKeySecret: {{ bluesky_pds_plc_rotation_key_secret | default('') }}
  adminPassword: {{ bluesky_pds_admin_password | default('') }}
  {% if bluesky_pds_moderator_enabled | default(true) and bluesky_pds_moderator_password is defined %}
  moderatorPassword: {{ bluesky_pds_moderator_password }}
  {% endif %}
