---

apiVersion: v1
kind: Secret
metadata:
  name: minio-bucket-credentials
  namespace: {{ longhorn_namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn_minio_backup_key | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn_minio_backup_secret | b64encode }}
  AWS_ENDPOINTS: "{{ ('https://' + minio_subdomain_name + '-api.' + ingress_nginx_domain_name + '/') | b64encode }}"
{% if cert_path_global != '' %}
  AWS_CERT: {{ ca_cert_file | b64encode }}
{% endif %}
