---

apiVersion: v1
kind: Secret
metadata:
  name: minio-bucket-credentials
  namespace: {{ longhorn_namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn_minio_backup_key | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn_minio_backup_secret | b64encode }}
  AWS_ENDPOINTS: "{{ longhorn_minio_endpoint + '/') | b64encode }}"
