apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-assistant
  namespace: {{ home_assistant_namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ home_assistant_ingress_class }}
{% if home_assistant_tls_enabled %}
    cert-manager.io/cluster-issuer: {{ home_assistant_ingress_cluster_issuer }}
{% endif %}
{% for key, value in (home_assistant_ingress_annotations | combine(home_assistant_additional_ingress_annotations)) | dictsort %}
    {{ key }}: "{{ value }}"
{% endfor %}
spec:
  rules:
  - host: {{ home_assistant_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: home-assistant-external
            port:
              number: 80
{% if home_assistant_tls_enabled %}
  tls:
  - hosts:
    - {{ home_assistant_host }}
    secretName: home-assistant-tls
{% endif %}
