apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-db
  namespace: {{ immich_namespace }}
spec:
  instances: {{ immich_postgresql_replicas }}
  
  # Using the tensorchord image with pgvecto.rs
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto.rs:{{ immich_postgresql_pgvectors_version }}
  
  # https://github.com/tensorchord/cloudnative-pgvecto.rs
  postgresql:
    shared_preload_libraries:
      - "vectors.so"

  # Database configuration
  bootstrap:
    initdb:
{% if immich_migrate_database | bool %}
      import:
        type: microservice
        databases:
          - {{ immich_postgresql_database }}
        source:
          externalCluster: immich-db-source
{% endif %}
      database: {{ immich_postgresql_database }}
      owner: {{ immich_postgresql_username }}
      secret:
        name: immich-pg-user
      postInitSQL:
        - ALTER USER immich WITH SUPERUSER;

  # Storage configuration
  storage:
    size: 10Gi
    storageClass: {{ immich_postgresql_storage_class }}

{% if immich_postgresql_override_resources %}
  resources:
    requests:
      memory: {{ immich_postgresql_resources_requests_memory }}
      cpu: {{ immich_postgresql_resources_requests_cpu }}
    limits:
      memory: {{ immich_postgresql_resources_limits_memory }}
      cpu: {{ immich_postgresql_resources_limits_cpu }}
{% endif %}

{% if immich_migrate_database | bool %}
  externalClusters:
    - name: immich-db-source
      connectionParameters:
        host: {{ immich_migrate_source_db_name }}-r.{{ immich_migrate_source_namespace }}.svc
        user: {{ immich_migrate_postgresql_user }}
        dbname: {{ immich_migrate_postgresql_database }}
      password:
        name: immich-db-credentials
        key: password
{% endif %}
{% if immich_postgresql_backup_enabled %}
  backup:
    barmanObjectStore:
      destinationPath: "{{ immich_postgresql_backup_destination_path }}"
      endpointURL: "{{ immich_postgresql_backup_s3_endpoint }}"
      s3Credentials:
        accessKeyId:
          name: {{ immich_postgresql_backup_credentials_secret_name }}
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: {{ immich_postgresql_backup_credentials_secret_name }}
          key: ACCESS_SECRET_KEY
{% endif %}
