# Database credentials secret
apiVersion: v1
kind: Secret
metadata:
  name: immich-pg-user
  namespace: {{ immich_namespace }}
type: Opaque
stringData:
  username: {{ immich_postgresql_username }}
  password: {{ vault_immich_user_password }}