# Database credentials secret
apiVersion: v1
kind: Secret
metadata:
  name: immich-db-credentials
  namespace: {{ immich_namespace }}
type: Opaque
stringData:
  username: immich
  password: {{ vault_immich_db_password }}