---
apiVersion: v1
kind: Secret
metadata:
  name: selfsigned-secret
  namespace: {{ cert_manager_namespace }}
type: Opaque
data:
  tls.key: {{ lookup('file', cert_manager_key_path) | b64encode }}
  tls.crt: {{ lookup('file', cert_manager_cert_path) | b64encode }}
